<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>


{% if info_selected.title != "" and info_total.title != "" %}
<h1>{{ info_selected.title }}</h1>
<table>
    <tbody>
    <tr>
        <td><font color="gray">HR done</font></td>
        <td><font color="gray">{{ info_selected.hr_done_hours }}h{{ info_selected.hr_done_minutes }}m</font></td>
    </tr>
    <tr>
        <td><font color="gray">HR maj</font></td>
        <td><font color="gray">{{ info_selected.hr_increased_hours }}h{{ info_selected.hr_increased_minutes }}m</font></td>
    </tr>
    <tr>
        <td>HR total</td>
        <td>{{ info_selected.hr_total_hours }}h{{ info_selected.hr_total_minutes }}m</td>
    </tr>
    <tr>
        <td>A</td>
        <td>{{ info_selected.a_hours }}h{{ info_selected.a_minutes }}m</td>
    </tr>
    <tr>
        <td>VAC</td>
        <td>{{ info_selected.vac_hours }}h{{ info_selected.vac_minutes }}m</td>
    </tr>
    </tbody>
</table>


<h1>{{ info_total.title }}</h1>
<table>
    <tbody>
    <tr>
        <td><font color="gray">HR done</font></td>
        <td><font color="gray">{{ info_total.hr_done_hours }}h{{ info_total.hr_done_minutes }}m</font></td>
    </tr>
    <tr>
        <td><font color="gray">HR maj</font></td>
        <td><font color="gray">{{ info_total.hr_increased_hours }}h{{ info_total.hr_increased_minutes }}m</font></td>
    </tr>
    <tr>
        <td>HR total</td>
        <td>{{ info_total.hr_total_hours }}h{{ info_total.hr_total_minutes }}m</td>
    </tr>
    <tr>
        <td>A</td>
        <td>{{ info_total.a_hours }}h{{ info_total.a_minutes }}m</td>
    </tr>
    <tr>
        <td>VAC</td>
        <td>{{ info_total.vac_hours }}h{{ info_total.vac_minutes }}m</td>
    </tr>
    </tbody>
</table>
{% else %}
<h1>Nothing to display</h1>
<p>Add records or open an existing file...</p>
{% endif %}

</body>
</html>
